<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="stylesheet/style.css"> -->
    <title>Mid Live Coding</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="app-food" class="col-md-4 col-md-offset-1">
          <div class="form">
            <form class="" >
              <input type="text" name="name" placeholder="food name" v-model="input.name">
              <button>Add</button>
            </form>
          </div>
        </div>
        <div id="app-rest" class="col-md-4 col-md-offset-2">
          <div class="form">
            <form class="" >
              <input type="text" name="name" placeholder="restaurant name" v-model="input.name">
              <button>Add</button>
            </form>
          </div>

        </div>

      </div>
    </div>


    <script type="text/javascript">
    var appfood = new Vue({
      el: '#appfood',
      created: function() {
        this_app = this
        axios.get('http://localhost:3000/foods')
        .then((res) => {
          appfood.foods = res.data
        })
      },
      data: {
        foods: [],
        input: {
          name: ''
        }
      },
      methods: {
        submission: () => {
          axios.post(`http://localhost:3000/foods`, {
            name : appfood.input.name
          })
          .then(
            appfood.input.name = '';
            window.loction.href = '/index.html'
          )
        }
      }
    });

    var apprest = new Vue({
      el: '#app-rest',
      created: function() {
        this_app = this
        axios.get('http://localhost:3000/restaurants')
        .then((res) => {
          apprest.rests = res.data
        })
      },
      data: {
        rests: [],
        input: {
          name: ''
        }
      },
      methods: {
        submission: () => {
          axios.post(`http://localhost:3000/restaurants`, {
            name : apprest.input.name
          })
          .then(
            apprest.input.name = '';
            window.loction.href = '/index.html'
          )
        }
      }
    })
    </script>
  </body>
</html>